<div class="container">
  <!-- Webcam Component for capturing the image -->
  <div *ngIf="!isImageCaptured" class="webcam-container">
    <webcam
      [trigger]="triggerCapture$"
      (imageCapture)="handleImageCapture($event)"
      screenshotFormat="image/png"
    ></webcam>
    <button (click)="captureImage()" class="capture-button">
      Capture Image
    </button>
  </div>

  <!-- Image Cropper Component -->
  <div *ngIf="isImageCaptured && isImageCropped" class="cropper-container">
    <image-cropper
      [imageBase64]="capturedImageDataUrl"
      [maintainAspectRatio]="false"
      [aspectRatio]="16 / 9"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <button (click)="cropImage()" class="crop-button">Apply Crop</button>
  </div>

  <!-- Display Cropped Image -->
  <div *ngIf="croppedImage" class="cropped-image-container">
    <h3>Cropped Image:</h3>
    <img [src]="croppedImage" alt="Cropped Image" class="cropped-image" />
  </div>
</div>

<!-- <div class="container">
  <div *ngIf="!isImageCaptured">
    <webcam
      [trigger]="triggerCapture$"
      (imageCapture)="handleImageCapture($event)"
      screenshotFormat="image/png"
    ></webcam>
    <button (click)="captureImage()" class="capture-button">
      Capture Image
    </button>
  </div>

  <div *ngIf="isImageCaptured && isImageCropped">
    <div *ngIf="imageChangedEvent" class="image-cropper-container">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="16 / 9"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>

    <button *ngIf="imageChangedEvent" (click)="cropImage()" class="crop-button">
      Crop Image
    </button>
  </div>

  <div *ngIf="croppedImage" class="cropped-image">
    <h3>Cropped Image:</h3>
    <img [src]="croppedImage" alt="Cropped Image" />
  </div>
</div>   -->

<!-- <div class="container">
  <input
    type="file"
    (change)="fileChangeEvent($event)"
    accept="image/*"
    class="file-input"
  />

  <div *ngIf="isImageCropped">
    <div *ngIf="imageChangedEvent" class="image-cropper-container">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="16 / 9"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>


    <button *ngIf="imageChangedEvent" (click)="cropImage()" class="crop-button">
      Crop Image
    </button>
  </div>

  <div *ngIf="croppedImage" class="cropped-image">
    <h3>Cropped Image:</h3>
    <img [src]="croppedImage" alt="Cropped Image" />
  </div>
</div> -->
